
body {
    font-family: open sans;
    font-size: 16px;
    line-height: 1.5;
}

#header {
    background-color: #23282d;
}
.nav {
    width: 1170px;
    margin: 0px auto;
}
#header .nav {
    display: flex;
    justify-content: space-between;
}
#header img {
    margin-top: 25px;
}
#header input {
    margin-top: 25px;
    width: 240px;
    background-color: #222f3e;
    border-radius: 5px;
}
#header #main-menu {
    display: flex;
    margin-top: 12px;
    padding-bottom: 10px;
}
#main-menu {
    margin: 0px ;
    padding: 0px;
    width: 1170px;
    margin: 0px auto;
}
#main-menu li {
    padding-right: 42px;
}
#main-menu li a {
    color: #eeeeee;
    list-style: none;
    text-decoration: none;
}
#main-menu li a:hover {
    color: #4db2ec;
}
#container {
    width: 1170px;
    margin: 0px auto;
    padding: 30px;
    margin-top: 0px;
    border-bottom: 1px solid #dcdde1;
}
#container p {
    display: inline-block;
    background-color: #23282d;
    color: #eeeeee;
    padding: 0px 15px;
    cursor: pointer;
}
#sub-content {
    display: flex;
    justify-content: space-between;
}
.mt-10 {
    line-height: 20px;
    font-weight: bold;
    color: #5f5f5f;
    border: 1px solid #fff;
}
#sub-content a img:hover {
    box-shadow: 1px 1px 1px 1px #23282d;
    box-sizing: border-box;
    transition: all 0.3s;
}
#sub-content a {
     text-decoration: none;
}
#sub-content .content-title:hover {
    color: #4db2ec;
}

#content {
    width: 1170px;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    margin-top: 22px;
}
#main-content {
    width: 810px;
    background-color: #fff;
    margin-right: 25px;
}
#sidebar {
    width: 360px;
}
#main-content .box-head a{
    display: inline-block;
    padding: 2px 8px;
    background-color: #4db2ec;
    color: #fff;
    text-decoration: none;
}
#main-content .box-head p {
    border-bottom: 2px solid #4db2ec;
    margin-bottom: 30px;
}
.list-post {
    padding: 0;
    margin: 0;
    
}
.list-post li {
    display: flex;
    list-style: none;
    margin-bottom: 35px;
    
}
.more-info {
    padding-left: 25px;
}
.post-title {
    font-size: 21px;
    font-weight: bold;
    color: black;
}
.post-author {
    color: black;
    font-size: 11px;
}
.post-published span {
    color: #aaaaaa ;
    font-size: 11px;
}
.excerpt {
    color: #777777;
    font-size: 13px;
}
.mb-5 {
    margin-bottom: 5px;
}
.box-head .topic-title {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #ff2d2d;
    padding: 3px;
}
.box-head .topic-interest {
    margin-top: 30px;
    border-bottom: 1px solid #ff2d2d;
}
.list-topic {
    padding: 0px;
    margin: 0px;
    position: relative;
}
.list-topic li {
    list-style: none;
    padding-bottom: 10px;
}
.list-topic li a {
    text-decoration: none;
    color: #5f5f5f;
    font-weight: bold;
}
.num-post {
    position: absolute;
    right: 0;
}
.list-topic li a:hover {
    color: #ff2d2d;
}
#footer {
    background-color: #23282d;
    padding-top: 30px;
    padding-bottom: 25px;
    position: relative;
}
#footer-content {
    width: 1170px;
    margin: 0px auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer-content .info-web {
    color: #ffffff;
    font-size: 14px;
}
#footer-content .social-icon {
    color: #ffffff;
}
.social-icon i {
    font-size: 18px;
    margin-right: 5px;
}
#footer-extra {
    display: flex;
    justify-content: space-between;
    background-color: rgb(3, 3, 3);
}
#footer-extra p {
    color: #ffffff;
    margin-left: 172px;
    margin-top: 10px;
    font-size: 15px;
}
#footer-extra .security {
    margin-right: 130px;
    margin-top: 10px;
    font-size: 14px;
}
.security a {
    margin-right: 20px;
    text-decoration: none;
    color: #ffffff;
}
.security a:hover {
    color: #4db2ec ;
}

